<div class="main">
  <div class="row">
    <div class="col-md-8">
      <div class="questions">
        <div class="questions-title">
          <h4>　<span class="glyphicon glyphicon-align-left">　新着の質問一覧</h4>
        </div>
        <% @questions.each do |question| %>
        <div class="question">
          <% unless question.user.avatar.nil? %>
            <%= image_tag question.user.avatar.url, size: 50, class: "avatar-in-question-info question-left" %>
          <% else %>
            <%= image_tag "default.jpg", size: 50, class: "avatar-in-question-info question-left" %>
          <% end %>

          <%= link_to question.title, question, class: "question-link" %><br>
          <p>by_<%= question.user.name %></p>
          <%= time_ago_in_words(question.created_at) %>前
        </div>
        <% end %>
        <%= paginate @questions, :window => 2 %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ranking">
        <%= render 'shared/ranking' %>
      </div>
    </div>
  </div>
</div>
