<% provide :title, "質問一覧" %>
<div class="main">
  <div class="row">
    <div class="col-md-8">
      <div class="questions">
        <div class="questions-title">
          <% if params[:search] %>
            <h4>
              　<span class="glyphicon glyphicon-align-left">　「<%= params[:search] %>」の検索結果
              <% if @questions.count == 0 %>
                見つかりませんでした。（<%= link_to "質問を投稿する", new_question_path %>）
              <% end %>
            </h4>
          <% else %>
            <h4>　<span class="glyphicon glyphicon-align-left">　新着の質問一覧</h4>
          <% end %>
        </div>
        <% @questions.each do |question| %>
        <div class="question">
          <% unless question.user.avatar.nil? %>
            <%= image_tag question.user.avatar.url, size: 50, class: "avatar-in-question-info question-left" %>
          <% else %>
            <%= image_tag "default.jpg", size: 50, class: "avatar-in-question-info question-left" %>
          <% end %>

          <% if question.title.size >= 33 %>
            <%= link_to "#{question.title[0,31]}...", question, class: "question-link" %><br>
          <% else %>
            <%= link_to question.title, question, class: "question-link" %><br>
          <% end %>
          <p>by_<%= question.user.name %></p>
          <%= time_ago_in_words(question.created_at) %>前
        </div>
        <% end %>
        <%= paginate @questions, :window => 2 %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ranking">
        <%= render 'shared/question_search' %>
        <%= render 'shared/user_ranking' %>
        <%= render 'shared/question_ranking' %>
      </div>
    </div>
  </div>
</div>
