<div class="main">
  <div class="question-form">
    <%= form_for @question do |f| %>

      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class: "title-form", autocomplete: "off", placeholder: "タイトル" %>

      <%= f.label :tag, "タグ" %>
      <%= f.text_field :tag, class: "tag-form", autocomplete: "off", placeholder: "タグ" %>

      <%= f.label :content, "本文" %>
      <%= f.text_area :content, class: "content-form", autocomplete: "off", placeholder: "本文" %>

      <%= f.submit "投稿する", class: "question-submit-btn" %>

    <% end %>
  </div>
</div>
