<% provide :title, "#{@question.title}" %>
<div class="main">
  <div class="row">
    <div class="col-md-8">
      <!-- 質問内容 -->
      <div class="question-info">
        <h1>
          <% unless @user.avatar.nil? %>
            <%= image_tag @user.avatar.url, size: 40, class: "avatar-in-question-info" %>
          <% else %>
            <%= image_tag "default.jpg", size: 40, class: "avatar-in-question-info" %>
          <% end %>
          <p class="user-name-in-questions-show"><%= link_to @user.name, @user %></p>
          <p class="posted-time-in-questions-show"><%= time_ago_in_words(@question.created_at) %>前</p><br>
          <p class="question-title-in-questions-show"><%= @question.title %></p>
        </h1>
        <% if @question.resolution == 0 %>
          <p class="question-acceptance-state">（この質問は回答を受付中です。）</p>
        <% else %>
          <p class="question-acceptance-state">（この質問は回答を締め切りました。）</p>
        <% end %>
        <!-- 質問へのいいね -->
        <% if user_signed_in? %>
          <% if current_user.favorite?(@question) %>
            <%= form_for current_user.favorites.find_by(question_id: @question.id), method: "delete" do |f| %>
              <%= hidden_field_tag :question_id, @question.id %>
              <%= button_tag type: "submit", class: "unfavorite-btn" do %>
                <span class="glyphicon glyphicon-ok"><span class="liker-number"><%= @question.liker %></span>
              <% end %>
            <% end %>
          <% else %>
            <%= form_for current_user.favorites.build, method: "post" do |f| %>
              <%= hidden_field_tag :question_id, @question.id %>
              <%= button_tag type: "submit", class: "favorite-btn" do %>
                <span class="glyphicon glyphicon-heart-empty"><span class="liker-number"><%= @question.liker %></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <p class="question-content-in-questions-show"><%= @question.content %></p>
        <% if user_signed_in? && @question.user_id == current_user.id %>
          <% if @question.resolution == 0 %>
            <p class="question-close-link"><%= link_to "締め切る", close_path(@question, question_id: @question.id), method: :patch, data: { confirm: "質問を締め切りますか？" } %></p>
            <p class="question-edit-link"><%= link_to "編集", edit_question_path(@question) %></p>
          <% end %>
          <p class="question-delete-link"><%= link_to "削除", question_path, method: :delete, data: { confirm: "削除しますか？" } %></p>
        <% end %>
        <!-- 回答一覧 -->
        <div class="answers">
          <p class="answers-title">回答一覧</p>
          <div class="answer">
            <% @question.answers.each do |answer| %>
            <!-- 回答内容 -->
              <div class="answer-info">
                <% unless @user.avatar.nil? %>
                  <%= image_tag answer.user.avatar.url, size: 40, class: "avatar-in-answer-info answer-left" %>
                <% else %>
                  <%= image_tag "default.jpg", size: 40, class: "avatar-in-answer-info answer-left" %>
                <% end %>
                <p><%= answer.user.name %>　<%= time_ago_in_words(answer.created_at) %>前</p>
              </div>
              <div class="answer-content">
                <p><%= answer.content %></p>
                <% if user_signed_in? %>
                  <% if answer.user_id == current_user.id %>
                    <%= link_to "回答を削除する", answer_path(answer), method: :delete, data: { confirm: "削除しますか？" } %>
                  <% elsif current_user.like?(answer) %>
                    <%= form_for(current_user.likes.find_by(answer_id: answer.id), method: :delete) do |f| %>
                      <%= hidden_field_tag :answer_id, answer.id %>
                      <%= f.submit 'いいね済み', class: "unlike-btn" %>
                    <% end %>
                  <% else %>
                    <%= form_for(current_user.likes.build) do |f| %>
                      <%= hidden_field_tag :answer_id, answer.id %>
                      <%= f.submit 'いいね', class: "like-btn" %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <!-- 返信内容 -->
              <div class="responses">
                <% answer.responses.each do |response| %>
                  <div class="response-info">
                    <% unless @user.avatar.nil? %>
                      <%= image_tag response.user.avatar.url, size: 40, class: "avatar-in-response-info response-left" %>
                    <% else %>
                      <%= image_tag "default.jpg", size: 40, class: "avatar-in-response-info response-left" %>
                    <% end %>
                    <p><%= response.user.name %>　<%= time_ago_in_words(response.created_at) %>前</p>
                  </div>
                  <div class="response-content">
                    <p><%= response.content %></p>
                    <% if user_signed_in? && response.user_id == current_user.id %>
                      <%= link_to "返信を削除する", response_path(response), method: :delete, data: { confirm: "削除しますか？" } %>
                    <% end %>
                  </div>
                <% end %>
                <!-- 返信フォーム -->
                <div class="response-form">
                  <% if user_signed_in? && @question.resolution == 0 %>
                    <%= form_for @response do |f| %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <%= f.hidden_field :question_id, value: @question.id %>
                      <%= f.hidden_field :answer_id, value: answer.id %>
                      <%= f.text_area :content, class: "response-form response-content-form", autocomplete: "off", placeholder: "返信" %><br>
                      <%= f.submit "返信する", class: "response-submit-btn" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <!-- 回答フォーム -->
        <% unless @user == current_user %>
          <div class="answer-form">
            <% if user_signed_in? && @question.resolution == 0 %>
              <%= form_for @answer do |f| %>
                <%= f.hidden_field :question_id, value: @question.id %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.text_area :content, class: "answer-form answer-content-form", autocomplete: "off", placeholder: "回答" %>
                <%= f.submit "回答する", class: "answer-submit-btn" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- ランキング -->
    <div class="col-md-4">
      <%= render 'shared/question_search' %>
      <%= render 'shared/user_ranking' %>
      <%= render 'shared/question_ranking' %>
    </div>
  </div>
</div>
