<% provide :title, "筋iita" %>
<% unless user_signed_in? %>
  <div class="welcome">
    <p>Welcome to Fiita!!</p>
  </div>
  <div class="explain">
    <p>サイトの説明文</p>
    <%= link_to "新規登録", "/users/sign_up", class: "btn btn-warning" %>
  </div>
<% end %>
<div class="main">
  <div class="row">
    <div class="col-md-8">
      <a href="/questions/121" class="topic-question clearfix">
        <%= image_tag "hot_topic.png", alt: "トピック", class: "topic-image" %>
        <div class="topic-content">
          <h3 class="topic-title">現在回答受付中</h3>
          <p class="topic-text">Example Userさんの<br>質問に回答しよう！</p>
        </div>
      </a>
      <div class="questions">
        <div class="questions-title">
          <h4>　<span class="glyphicon glyphicon-align-left">　人気の質問一覧</h4>
        </div>
        <% @questions.each do |question| %>
        <div class="question">
          <% unless question.user.avatar.nil? %>
            <%= image_tag question.user.avatar.url, size: 50, class: "avatar-in-question-info question-left" %>
          <% else %>
            <%= image_tag "default.jpg", size: 50, class: "avatar-in-question-info question-left" %>
          <% end %>
          <%= link_to question.title, question, class: "question-link" %><br>
          <p>by_<%= question.user.name %></p>
          <%= time_ago_in_words(question.created_at) %>前
        </div>
        <% end %>
        <%= paginate @questions, :window => 2 %>
      </div>
    </div>
    <div class="col-md-4">
      <%= render 'shared/ranking' %>
    </div>
  </div>
</div>
