<% provide :title, "Fiita" %>
<% unless user_signed_in? %>
  <div class="welcome">
    <p>Welcome to Fiita!!</p><br>
    <%= link_to "新規登録", "/users/sign_up", class: "btn btn-signup" %>
  </div>
<% end %>
<div class="main">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="questions">
        <div class="questions-title questions-title-in-home">
          <h4>　<span class="glyphicon glyphicon-align-left">　最新の質問一覧</h4>
        </div>
        <% @questions.each do |question| %>
        <div class="question question-in-home">
          <% if question.user.avatar.nil? %>
            <%= link_to "users/#{question.user.id}" do %>
              <%= image_tag "default.jpg", size: 50, class: "avatar-in-question-info question-left" %>
            <% end %>
          <% else %>
            <%= link_to "users/#{question.user.id}" do %>
              <%= image_tag question.user.avatar.url, size: 50, class: "avatar-in-question-info question-left" %>
            <% end %>
          <% end %>
          <% if question.title.size >= 33 %>
            <%= link_to "#{question.title[0,31]}...", question, class: "question-link" %><br>
          <% else %>
            <%= link_to question.title, question, class: "question-link" %><br>
          <% end %>
          <p>by_
            <%= link_to "users/#{question.user.id}" do %>
              <%= question.user.name %>
            <% end %>
          </p>
          <%= time_ago_in_words(question.created_at) %>前
        </div>
        <% end %>
        <%= paginate @questions, :window => 2 %>
      </div>
    </div>
    <div class="col-md-4  col-sm-12">
      <%= render 'shared/question_search' %>
      <%= render 'shared/user_ranking' %>
      <%= render 'shared/question_ranking' %>
    </div>
  </div>
</div>
