<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to image_tag("Fiita_logo.png", height: 60,id: "logo"), root_path, id: "logo" %>
    <% if user_signed_in? %>
      <span class="user-name"><%= current_user.name %></span>様
    <% end %>
    <ul class="nav navbar-nav navber-right">
      <% if user_signed_in? %>
        <li><%= link_to "質問する", "/questions/new" %></li>
        <li><%= link_to "回答する", "/questions" %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            アカウント <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-menu-list"><%= link_to "マイページ", current_user, class: "dropdown-link" %></li>
            <li class="dropdown-menu-list"><%= link_to "登録情報変更", "/users/edit", class: "dropdown-link" %></li>
            <li class="divider"></li>
            <li class="dropdown-menu-list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-link" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "新規登録", "/users/sign_up" %></li>
        <li><%= link_to "ログイン", "/users/sign_in" %></li>
      <% end %>
    </ul>
  </div>
</header>
