<!DOCTYPE html>
<html>
  <head>
    <title>MyApps</title>
    <%= render 'layouts/head_setting' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
